{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block title %} Home {% endblock %}






{% block main %} 
{% get_current_language as LANGUAGE_CODE %}


    <!-- slider_area_start -->
    <div class="slider_area">
      <div class="slider_active owl-carousel">
          <!-- single_carouse -->
          <div class="single_slider  d-flex align-items-center slider_bg_1">
              <div class="container">
                  <div class="row">
                      <div class="col-xl-12">
                          <div class="slider_text ">
                              <h3>Boost up your skills <br>
                                  with a new way of <br>
                                  learning.</h3>
                              <a href="#" class="boxed-btn3">Get Start</a>
                              <a href="#" class="boxed-btn4">Take a tour</a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <!--/ single_carouse -->
          <!-- single_carouse -->
          <div class="single_slider  d-flex align-items-center slider_bg_2">
              <div class="container">
                  <div class="row">
                      <div class="col-xl-12">
                          <div class="slider_text ">
                              <h3>Boost up your skills <br>
                                  with a new way of <br>
                                  learning.</h3>
                              <a href="#" class="boxed-btn3">Get Start</a>
                              <a href="#" class="boxed-btn4">Take a tour</a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <!--/ single_carouse -->
          <!-- single_carouse -->
          <div class="single_slider  d-flex align-items-center slider_bg_1">
              <div class="container">
                  <div class="row">
                      <div class="col-xl-12">
                          <div class="slider_text ">
                              <h3>Boost up your skills <br>
                                  with a new way of <br>
                                  learning.</h3>
                              <a href="#" class="boxed-btn3">Get Start</a>
                              <a href="#" class="boxed-btn4">Take a tour</a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <!--/ single_carouse -->
      </div>
  </div>
  <!-- slider_area_end -->



  <section class="feature_area section_gap_top">
    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <div class="section_title text-center p-4">
                    <h3>Awesome Feature</h3>
                </div>
            </div>
        </div>

      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="single_feature">
            <div class="icon"><span class="flaticon-book"></span></div>
            <div class="desc">
              <h4 class="mt-3 mb-2">Our Proposal</h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              </p>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div class="single_feature">
            <div class="icon"><span class="flaticon-book"></span></div>
            <div class="desc">
              <h4 class="mt-3 mb-2">Our Vision</h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              </p>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div class="single_feature">
            <div class="icon"><span class="flaticon-book"></span></div>
            <div class="desc">
              <h4 class="mt-3 mb-2">Our Mission</h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>






  <div data-scroll-index='1' class="admission_area">
    <div class="admission_inner">
        <div class="container">
            <div class="row justify-content-end">
                <div class="col-lg-7">
                    <div class="admission_form">
                        <h3>Apply for Admission</h3>
                        <form action="#">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="single_input">
                                        <input type="text" placeholder="First Name" >
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="single_input">
                                        <input type="text" placeholder="Last Name" >
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="single_input">
                                        <input type="text" placeholder="Phone Number" >
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="single_input">
                                        <input type="text" placeholder="Email Address" >
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="single_input">
                                        <textarea cols="30" placeholder="Write an Application" rows="10"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="apply_btn">
                                        <button class="boxed-btn3" type="submit">Apply Now</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- recent_event_area_strat  -->
<div class="recent_event_area section__padding">
  <div class="container">
      <div class="row justify-content-center">
          <div class="col-lg-8 col-md-10">
              <div class="section_title text-center mb-70">
                  <h3 class="mb-45">Recent Event</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              </div>
          </div>
      </div>
      <div class="row justify-content-center">
          <div class="col-lg-10">
              <div class="single_event d-flex align-items-center">
                  <div class="date text-center">
                      <span>02</span>
                      <p>Dec, 2020</p>
                  </div>
                  <div class="event_info">
                      <a href="event_details.html">
                          <h4>How to speake like a nativespeaker?</h4>
                       </a>
                      <p><span> <i class="flaticon-clock"></i> 10:30 pm</span> <span> <i class="flaticon-calendar"></i> 21Nov 2020 </span> <span> <i class="flaticon-placeholder"></i> AH Oditoriam</span> </p>
                  </div>
              </div>
              <div class="single_event d-flex align-items-center">
                  <div class="date text-center">
                      <span>03</span>
                      <p>Dec, 2020</p>
                  </div>
                  <div class="event_info">
                      <a href="event_details.html">
                          <h4>How to speake like a nativespeaker?</h4>
                       </a>
                      <p><span> <i class="flaticon-clock"></i> 10:30 pm</span> <span> <i class="flaticon-calendar"></i> 21Nov 2020 </span> <span> <i class="flaticon-placeholder"></i> AH Oditoriam</span> </p>
                  </div>
              </div>
              <div class="single_event d-flex align-items-center">
                  <div class="date text-center">
                      <span>10</span>
                      <p>Dec, 2020</p>
                  </div>
                  <div class="event_info">
                      <a href="event_details.html">
                          <h4>How to speake like a nativespeaker?</h4>
                       </a>
                      <p><span> <i class="flaticon-clock"></i> 10:30 pm</span> <span> <i class="flaticon-calendar"></i> 21Nov 2020 </span> <span> <i class="flaticon-placeholder"></i> AH Oditoriam</span> </p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- recent_event_area_end  -->
  
        

{% endblock %}